### Practice Project 2

Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [28]:
a = [2,3,4,5,6,7]
b = ["mango", "banana", "grapes", "orange"]

In [29]:
a.extend(b) ### adding the list toether!!!

In [30]:
a.insert(4, "Apple")

In [31]:
a

[2, 3, 4, 5, 'Apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [32]:
a.pop()  ## remove the last element

'orange'

In [33]:
a

[2, 3, 4, 5, 'Apple', 6, 7, 'mango', 'banana', 'grapes']

### Question 2

Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [35]:
L = [1,2,3,4,5,6,7]
L[:4]

[1, 2, 3, 4]

### Question 3
Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [40]:
### Reversing the list!!!
L = [4,5,6,8,3]
L[::-1]

[3, 8, 6, 5, 4]

### Question 4
Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [41]:
##List comprehension
L=[2,4,7,3,6,8]
[x*2 for x in L]  ## list comprehension

[4, 8, 14, 6, 12, 16]

### Question 5
Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [61]:
def tuple_sum(*args):
    sumlist = 0
    for num in args:
        print(num) ### To check
        if type(num) == tuple:
            for j in num:
                sumlist += j
    return sumlist

In [62]:
pm = (12,4,3,5,4,3,2,8)
tuple_sum(pm)

(12, 4, 3, 5, 4, 3, 2, 8)

41

In [48]:
pm = (12,4,3,5,4,3,2,8)
for i in pm:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### Question 6

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [63]:
# Exercise 6
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
combined_fruits = fruits1.union(fruits2)  ## this added the set content together
print(combined_fruits)

{'orange', 'grape', 'apple', 'banana', 'kiwi', 'pear'}

### Question 7
Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [64]:
# Exercise 7
words = {"hello", "world", "python"}
words.add("programming")
print(words)

{'world', 'programming', 'hello', 'python'}

In [65]:
words = {"hello", "world", "python"}
words.append("programming")   ## set does not have append!!!
print(words)

AttributeError: 'set' object has no attribute 'append'

### Question 8
Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [67]:
# Exercise 8
animals = {"dog", "cat", "hamster", "parrot"}
animals.remove("cat")  ### we remove element by calling it
print(animals)

{'dog', 'hamster', 'parrot'}

In [69]:
set_number = {2, 3, 4, 7,6,0}
set_number.remove(2)

In [70]:
set_number

{0, 3, 4, 6, 7}

In [72]:
set_number = {2, 3, 4, 7,6,0,2,2,2,2,2,}
set_number.remove(2)
set_number   ### it removes all the 2's

{0, 3, 4, 6, 7}

### Question 9

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [74]:
## How to use the zip function
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} 
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

res_zip = zip(favorite_books, favorite_movies)

In [76]:
print(res_zip)   ## as a funtion

<zip object at 0x000001CD0A3A4580>

In [77]:
list(res_zip)  ## result is tuple in list

[('To Kill a Mockingbird', 'The Shawshank Redemption'),
 ('1984', 'The Godfather'),
 ('Pride and Prejudice', 'The Dark Knight')]

### Question 10
Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [78]:
def find_diff_consecutive_numbers(lst):
    diffs = []
    for i in range(1, len(lst)):
        diff = lst[i] - lst[i-1]
        diffs.append(diff)
    return diffs

In [79]:
# example usage
my_list = [5, 9, 12, 18, 22]
diffs = find_diff_consecutive_numbers(my_list)
print(diffs) # Output: [4, 3, 6, 4]

[4, 3, 6, 4]